# DataExploration with Spark SQL

## After scraping the plane crash data from the website then using Pyspak to explore the data

In [13]:
import findspark
findspark.init()

In [14]:
import os
os.environ['PYSPARK_PYTHON'] = '/usr/local/bin/python3'

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField,StringType,StructType
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.appName('plane_acc').getOrCreate()

In [18]:
data_schema = [StructField('date',StringType(),True),
              StructField('location',StringType(),True),
              StructField('aircraft_type',StringType(),True),
              StructField('fatalities',StringType(),True),
              StructField('filename',StringType(),True)]
final_struct = StructType(fields=data_schema)

In [21]:
# Read result.csv and change the column name
df = spark.read.csv('result/032020_083105.csv', header=True, inferSchema=True, schema=final_struct)

In [22]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- location: string (nullable = true)
 |-- aircraft_type: string (nullable = true)
 |-- fatalities: string (nullable = true)
 |-- filename: string (nullable = true)

In [36]:
df.head(5)

[Row(date='17 Sep 1908', location='Fort Myer, VirginiaMilitary - U.S. Army', aircraft_type='Wright Flyer III?', fatalities='1/2(0)', filename='data/1920.csv'),
 Row(date='07 Sep 1909', location='Juvisy-sur-Orge, France?', aircraft_type='Wright ByplaneSC1', fatalities='1/1(0)', filename='data/1920.csv'),
 Row(date='12 Jul 1912', location='Atlantic City, New JerseyMilitary - U.S. Navy', aircraft_type='Dirigible?', fatalities='5/5(0)', filename='data/1920.csv'),
 Row(date='06 Aug 1913', location='Victoria, British Columbia, CanadaPrivate', aircraft_type='Curtiss seaplane?', fatalities='1/1(0)', filename='data/1920.csv'),
 Row(date='09 Sep 1913', location='Over the North SeaMilitary - German Navy', aircraft_type='Zeppelin L-1 (airship)?', fatalities='14/20(0)', filename='data/1920.csv')]

In [37]:
df.createTempView('plane_crash')

In [57]:
# Plane crash in Thailand from 1920-2020
plane_crash_in_thailand_df = spark.sql("SELECT date,location,aircraft_type,fatalities,filename FROM plane_crash WHERE location like '%Thai%'")

In [58]:
plane_crash_in_thailand_df.count()

25

In [59]:
plane_crash_in_thailand_df.show()

+-----------+--------------------+--------------------+----------+-------------+
|       date|            location|       aircraft_type|fatalities|     filename|
+-----------+--------------------+--------------------+----------+-------------+
|06 Dec 1931|Bangkok, Thailand...|Fokker F-VIIb-3MP...|    5/7(0)|data/1931.csv|
|13 Jan 1951|Mt. Bukit, Besar,...|  Douglas DC-3VR-HEP|  10/10(0)|data/1951.csv|
|31 Mar 1956|Korat ,ThailandMi...|Douglas C-47AL2-1...|  19/19(0)|data/1956.csv|
|14 Apr 1960|Taipei,TaiwanMili...|       Douglas DC-4?|  18/18(0)|data/1960.csv|
|19 Jul 1962|Near Bangkok, Tha...|de Havilland Come...|  26/26(0)|data/1962.csv|
|04 Sep 1964|Near Vaong Nong, ...|       Douglas C-47?|  28/34(0)|data/1964.csv|
|30 Jun 1967|Kai Tak, Hong Kon...|Sud Aviation SE-2...|  24/80(0)|data/1967.csv|
|25 Dec 1967|Chiang Mai, Thail...|  Douglas DC-3HS-TDH|   4/31(0)|data/1967.csv|
|13 May 1975|Near Sakon Nakhon...|Sikorsky CH-53C (...|  23/23(0)|data/1975.csv|
|25 Dec 1976|Near Bangkok, Tha...|Boeing B-707-366C...| 53/53(19)|data/1976.csv|
|27 Apr 1980|Don Muang, Thaila...|Hawker Siddeley H...|  44/53(0)|data/1980.csv|
|30 Apr 1982|Gulf of ThailandO...| Sikorsky S-76C-GIMF|  13/13(0)|data/1982.csv|
|05 May 1983|Near Ban Ta Khli,...|Fairchild C-123KL...|  30/30(0)|data/1983.csv|
|15 Apr 1985|Near Phuket, Thai...|Boeing B-737-200H...|  11/11(0)|data/1985.csv|
|31 Aug 1987|Off Ko Phuket, Th...|Boeing B-737-2P5H...|  83/83(0)|data/1987.csv|
|09 Sep 1988|Bangkok, Thailand...|Tupolev TU-134AVN...|  76/90(0)|data/1988.csv|
|21 Nov 1990|Koh Samui, Thaila...|de Havilland Cana...|  38/38(0)|data/1990.csv|
|26 May 1991|Near Ban Nong Ron...|Boeing B-767-3Z9E...|223/223(0)|data/1991.csv|
|31 Jul 1992|Near Kathmandu, N...|Airbus A310-304HS...|113/113(0)|data/1992.csv|
|11 Dec 1998|Near Surat Thani,...|Airbus A-310-204H...|102/146(0)|data/1998.csv|
+-----------+--------------------+--------------------+----------+-------------+
only showing top 20 rows